body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.headercentro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  width: 70vw;
}

@media (prefers-color-scheme: light) {
  h4 {
    color: black;
  }

h4 {
  font-size: 1.8rem;
  word-wrap: break-word;
}

#mostrar {
  background-color: rgba(0, 0, 0, 0);
  max-width: 70vw;
  height: 20vh;
  overflow: scroll;
}

#botonfooter {
  width: auto;
  height: auto;
}

#botonfooter:hover {
  cursor: pointer;
}

li {
  list-style: none !important;
}

li a {
  text-decoration: none;
  color: white;
}

li::before {
  content: "🌟  ";
}

p a {
  cursor: pointer;
}